.advantages {
  &__list {
    @include reset-list-style;
  }

  &__item {
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: $black-color;

    path {
      fill: $mint-color;
    }
  }
}
