.bestseller__title {
  margin: 0;
}

.bestseller__flag {
  font-size: 17px;
  line-height: 1.18;
  font-weight: 700;
  color: $mint-color;
  text-transform: uppercase;
}

.bestseller__description {
  line-height: 1.6;
}

.bestseller__characteristics {
  border-collapse: collapse;

  td {
    line-height: 1.33;
    border-bottom: 1px solid $light-gray-color;
  }
}

.bestseller__price {
  font-size: 17px;
  line-height: 1.41;
  font-weight: 700;
  color: $gray-color;
  text-align: center;
}
