.button {
  display: block;
  padding: 15px 0;

  font-family: "OpenSans Bold";
  font-size: 17px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  color: $gray-color;
  text-decoration: none;
  white-space: nowrap;

  background: $white-color;
  border: 2px solid $gray-color;
  text-transform: uppercase;
  cursor: pointer;
}
