.button {
  display: block;
  padding: 15px 0;

  font-size: 17px;
  line-height: 1.18;
  font-weight: 700;
  text-align: center;
  color: $gray-color;
  text-decoration: none;
  white-space: nowrap;

  background: $white-color;
  border: 2px solid $gray-color;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }

  &:hover,
  &:focus {
    background-color: $gray-color;
    color: $white-color;
  }

  &:active {
    color: rgba($white-color, 0.3%);
  }
}
