.catalog__list {
  @include reset-list-style;
}

.catalog__item {
  margin-bottom: 30px;
}

.catalog__item:hover .catalog__wrapper,
.catalog__item:focus .catalog__wrapper {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.catalog__item:active .catalog__wrapper {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.catalog__image {
  a {
    &[href]:hover,
    &[href]:focus,
    &[href]:active {
      opacity: 1;
    }
  }

  img {
    display: block;
  }
}

.catalog__wrapper {
  padding: 25px;
  border: 1px solid $light-gray-color;
}

.catalog__title {
  margin: 0;
  margin-bottom: 6px;
  line-height: 1.41;

  a {
    font-weight: 700;
    font-size: 17px;
    line-height: 1.41;
    color: $black-color;
    text-decoration: none;
  }
}

.catalog__characteristics {
  margin: 0;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 2.31;
}

.catalog__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid $light-gray-color;

  b {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.6;
    color: $black-color;
  }
}

.catalog__button {
  display: flex;
  align-self: stretch;
  align-items: center;

  path {
    fill: #cccccc;
  }

  &[href]:hover,
  &[href]:focus {
    opacity: 1;

    path {
      fill: $mint-color;
    }
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 55px;
  }

  .catalog__image {
    width: 50%;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 28px 30px;
    box-sizing: border-box;
  }

  .catalog__title {
    margin-bottom: 5px;
    line-height: 1.2;

    a {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  .catalog__characteristics {
    font-size: 15px;
    line-height: 2;
  }

  .catalog__price {
    margin-top: auto;

    b {
      font-size: 17px;
      line-height: 1.41;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    flex-direction: row;
  }

  .catalog__item {
    flex-direction: column;
    width: 318px;
    margin-bottom: 60px;
    margin-right: 50px;
    min-height: 660px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalog__image {
    width: 100%;
  }

  .catalog__wrapper {
    width: 100%;
    flex-grow: 1;
  }
}
