.copyright {
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.copyright__text {
  font-size: 19px;
  line-height: 0.95;
  font-weight: 700;
  color: $black-color;
}

@media (min-width: $tablet-width) {
  .copyright {
    border-top: none;
  }
}
