.feedback {
  padding-bottom: 40px;
}

.feedback.zigzag-line {
  &::before {
    display: none;
  }
}

.feedback__container {
  padding-top: 40px;
}

.feedback__title {
  display: block;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 15px;
}

.feedback__address {
  font-style: normal;
  margin-bottom: 28px;

  table {
    width: 100%;
    line-height: 2;
    border-collapse: collapse;
  }

  td {
    padding-top: 14px;
    padding-bottom: 14px;
    vertical-align: top;

    &:first-child {
      width: 30%;
    }

    &:last-child {
      width: 70%;
    }
  }

  a {
    font-size: 15px;
    line-height: 2;
    color: $gray-color;
    text-decoration: none;
    border-bottom: 1px solid $mint-color;

    &[href]:hover,
    &[href]:focus {
      opacity: 1;
      color: $very-dark-mint-color;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }
}

.feedback__map {
  position: relative;
  height: 457px;
  overflow: hidden;

  iframe {
    position: absolute;
    z-index: 10;
    width: 100%;
    border: none;
  }

  img {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $tablet-width) {
  .feedback {
    padding-bottom: 60px;
  }

  .feedback__container {
    padding-top: 60px;
    text-align: center;
  }

  .feedback__title {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
    font-size: 43px;
    line-height: 1.16;
    text-align: left;
    padding-right: 60px;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 47px;
      height: 81px;
      transform: translateY(-50%);
      background-image: url("../img/icon-flag.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  .feedback__address {
    text-align: left;
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 40px;

    tbody {
      display: flex;
      flex-direction: row;
    }

    tr {
      display: flex;
      width: 50%;
    }

    td {
      &:first-child {
        width: 23%;
      }

      &:last-child {
        width: 77%;
      }
    }

    a {
      font-size: 17px;
      line-height: 1.76;
    }
  }

  .feedback__button {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    position: relative;
    width: 1050px;
    padding: 70px 0 105px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback.zigzag-line {
    &::before {
      display: block;
    }
  }

  .feedback__container {
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 175px;
    box-sizing: border-box;

    &:last-child {
      margin-top: -56px;
    }
  }

  .feedback__container.zigzag-line {
    &::before {
      display: none;
    }
  }

  .feedback__title {
    margin-top: 70px;
    margin-left: 0;
    margin-bottom: 35px;
    font-size: 53px;
    line-height: 1.08;

    &::before {
      left: -112px;
      right: auto;
    }
  }

  .feedback__address {
    tbody {
      display: table-row-group;
    }

    tr {
      display: table-row;
      width: auto;
    }

    td {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .feedback__map {
    width: 50%;
  }
}
