.form-control {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 1.06;
  color: $gray-color;

  border: none;
  outline: none;
  border-bottom: 2px solid $black-color;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    border-bottom: 2px solid $form-mint-color;
  }
}

@media (min-width: $tablet-width) {
  .form-control {
    font-size: 19px;
    line-height: 0.95;
  }
}
