.main-footer {
  padding: 25px 0 22px;
  background-color: $bg-gray;
}

.main-footer__logo-wrapper {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .main-footer__container {
    display: flex;
    align-items: center;
  }

  .main-footer__logo-wrapper {
    display: block;
    width: 39%;
  }

  .main-footer__logo {
    display: inline-block;

    svg {
      width: 102px;
      height: 34px;
      fill: #231f20;
    }

    &[href]:hover,
    &[href]:focus {
      opacity: 1;

      svg {
        fill: $very-dark-mint-color;
      }
    }

    &[href]:active {
      opacity: 0.3;
    }
  }
}
