.main-basket {
  border-top: 1px solid $border-gray;
}

@media (min-width: $tablet-width) {
  .main-basket {
    order: 3;
    border-top: none;

    a {
      font-size: 17px;
    }
  }

  .main-basket__button {
    padding: 33px 0;
  }
}
