.main-search {
  border-top: 1px solid $border-gray;
}

@media (min-width: $tablet-width) {
  .main-search {
    order: 2;
    margin-left: auto;
    border-top: none;

    a {
      font-size: 17px;
    }
  }

  .main-search__button {
    padding: 33px;

    span {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-search {
    margin-left: auto;
  }
}
