.menu-link {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 27px 30px;
  padding-left: 75px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.41;
  color: $black-color;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .menu-link {
    font-size: 15px;
    width: auto;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .menu-link {
    display: flex;
    align-items: center;
    font-size: 17px;
  }
}
