.order-data {
  padding-bottom: 55px;
}

.order-data__text {
  margin: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 1.85;
}

.order-data__options {
  margin-bottom: 30px;
}

.order-data__title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 0.94;
  font-weight: 700;
  color: $mint-color;
  text-transform: uppercase;

  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 30px;
    width: 50px;
    height: 1px;
    background-color: $form-mint-color;
  }
}

.order-data__options .order-data__option {
  margin-top: 0;
  margin-bottom: 20px;
}

.order-data__options .order-data__title {
  margin-bottom: 20px;
}

.order-data__option--additionally .order-data__title {
  margin-bottom: 30px;
}

.order-data__list {
  @include reset-list-style;

  &--type,
  &--color {
    margin-top: 26px;
  }
}

.order-data__option {
  margin-top: 35px;
  margin-bottom: 10px;

  &--filter {
    padding-left: 65px;

    label {
      position: relative;
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;

      &::before {
        left: -65px;
        border: 2px solid $gray-color;
        transition: all 0.3s ease;
      }

      &:hover {
        &::before {
          border-color: $form-mint-color;
        }
      }

      &:active {
        &::before {
          border-color: rgba($gray-color, 0.3%);
        }
      }
    }

    input:disabled + label {
      cursor: no-drop;
      opacity: 0.4;

      &:hover {
        &::before {
          border-color: $gray-color;
        }
      }
    }

    input:focus + label {
      &::before {
        border-color: $form-mint-color;
      }
    }
  }

  &--phone {
    svg {
      right: 8px;
    }
  }

  &--email {
    svg {
      right: 4px;
    }
  }
}

.order-data__option--phone .form-control,
.order-data__option--email .form-control {
  padding-right: 40px;

  &:hover + svg,
  &:focus + svg {
    fill: $form-mint-color;
  }
}

.order-data__input-icon {
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fill: rgba($black-color, 0.2%);
    transition: all 0.3s ease;
  }
}

.order-data__list--type .order-data__option {
  margin-bottom: 5px;
}

.order-data__label {
  font-size: 17px;
  line-height: 1.06;
  font-weight: 700;
  color: $black-color;
  cursor: pointer;
  user-select: none;
}

.order-data__radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.order-data__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: -54px;
  width: 16px;
  height: 16px;
  background-color: $mint-color;
  border-radius: 50%;
}

.order-data__checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  width: 36px;
  height: 36px;
}

.order-data__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: -56px;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.order-data__legend {
  display: block;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 1.14;
}

.order-data__textarea {
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid $gray-color;
  resize: none;

  &:hover,
  &:focus {
    border: 2px solid $form-mint-color;
  }
}

.order-data__button {
  width: 100%;
  line-height: 0.94;
}

@media (min-width: $tablet-width) {
  .order-data__text {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 5px;
  }

  .order-data__options {
    margin: 0;
    padding-top: 50px;

    ul {
      width: 75%;
    }

    &--color {
      background-color: $bg-gray;

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .order-data__option {
        width: 50%;
        box-sizing: border-box;
      }
    }

    &--full-name {
      padding-bottom: 25px;

      .order-data__option {
        align-items: center;
      }

      .form-control {
        width: 100%;
      }
    }
  }

  .order-data__title {
    width: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  .order-data__options .order-data__option {
    margin-bottom: 25px;
  }

  .order-data__list {
    &--type,
    &--color {
      margin-top: 0;
      padding-bottom: 25px;
    }
  }

  .order-data__list--type .order-data__option {
    margin-bottom: 25px;
  }

  .order-data__options .order-data__title {
    margin-bottom: 0;
  }

  .order-data__input-icon {
    width: 75%;
  }

  .order-data__label {
    font-size: 19px;
    line-height: 0.95;
    margin-right: 25px;
  }

  .order-data__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .order-data__option {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 0;

    &--filter {
      padding-left: 80px;

      label {
        padding-top: 17px;
        padding-bottom: 17px;

        &::before {
          width: 48px;
          height: 48px;
          left: -80px;
          top: 0;
        }
      }
    }

    &--phone,
    &--email {
      background-color: $bg-gray;
    }

    &--phone {
      padding-top: 50px;
      padding-bottom: 25px;

      svg {
        right: 26px;
      }
    }

    &--email {
      padding-bottom: 50px;

      svg {
        right: 22px;
      }
    }

    &--additionally {
      padding-top: 50px;
    }
  }

  .order-data__option--phone .form-control,
  .order-data__option--email .form-control {
    padding-right: 75px;
    background-color: transparent;
  }

  .order-data__radio:checked + label::after {
    width: 22px;
    height: 22px;
    top: 15px;
    left: -65px;
  }

  .order-data__checkbox:checked + label::after {
    width: 33px;
    height: 22px;
    top: 15px;
    left: -70px;
  }

  .order-data__textarea {
    width: 75%;
    margin-bottom: 50px;
  }

  .order-data__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .order-data__button {
    width: auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  .order-data__legend {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .order-data__title {
    width: 16.67%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 6.2%;
    box-sizing: border-box;
  }

  .order-data__text {
    width: 66.7%;
    margin-left: 16.67%;
  }

  .order-data__options {
    ul {
      width: 66.7%;
    }

    &--color {
      .order-data__option {
        width: 33%;
      }
    }
  }

  .order-data__option {
    &--phone {
      svg {
        right: 8px;
      }
    }

    &--email {
      svg {
        right: 4px;
      }
    }
  }

  .order-data__option--phone .form-control,
  .order-data__option--email .form-control {
    padding-right: 40px;
  }

  .order-data__container {
    justify-content: flex-start;
  }

  .order-data__input-icon,
  .order-data__textarea {
    width: 66.7%;
  }

  .order-data__wrapper {
    padding-left: 16.67%;
    padding-right: 16.67%;
  }
}
