.page-title {
  padding: 72px 0;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.11;
  color: $black-color;
  text-align: center;
  background-color: $bg-gray;
}
