.site-list {
  @include reset-list-style;
}

.site-list__item {
  border-top: 1px solid $border-gray;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    margin-right: 30px;
    border-top: none;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    display: flex;
    margin-right: 0;
    padding: 0 35px;
    border-right: 1px solid $border-gray;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
}
