.title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  color: $black-color;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 43px;
    line-height: 1.16;
  }
}

@media (min-width: $desktop-width) {
  .title {
    margin-left: 175px;
    margin-right: 175px;
    font-size: 53px;
    line-height: 1.08;
  }
}
