$black-color: #000000;
$white-color: #ffffff;
$mint-color: #63d1bb;
$dark-mint-color: #149080;
$gray-color: #444444;
$light-gray-color: #ececec;
$bg-mint: #56c3b2;
$bg-gray: #f1f1f1;
$bg-promo-gray: #f9f9f9;
$border-gray: #e7e7e7;
$tablet-width: 768px;
$desktop-width: 1150px;
